.app {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

main {
    flex: 1;
}

menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 5em;
    padding: 0;
    margin-top: 0;
    padding-top: 0;
}

.light-blue-bg {
    background-color: aqua;
}

.username {
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.web-title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
    margin: 10px 30px;
}

.header {
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

.light-red-bg {
    background-color: lightcoral;
    color: black;
}

a {
    text-decoration: none !important;
    color: inherit;
    font-size:x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover {
    color:darkblue;
}

.header-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 0;
    padding-bottom: 0;
}

.username {
    text-align: right !important;
    padding: 2em;
}

.header-main {
    text-align: center;
    margin-top: 10em;
}

main {
    text-align: center;
}

footer {
    flex: 0 30px;
    text-align: right;
    margin: 1em;
}

#main-title {
    font-size: 72px;
    padding-top: 12px;
}

.extra-padding-top {
    padding-top: 10px;
}

.main-about{
    display: flex;
    flex-direction: column;
}

.add-space{
    margin: 1em;
}

.info-paragraph {
    font-size: 16px;
    margin-top: 1em;
}

.line-of-text {
    font-size: 12px;
}

.make-pretty{
    margin-bottom: 1em;
    border-top: 2px solid #ccc;
}

#current-page {
    color: purple;
    font-style:italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
}

button.give-space {
    margin: 1em;
}

.space-between {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

.make-column {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20em; 
    margin: 0 auto; /*Centers content horizontally*/
    gap: 1px;
}

.add-margin {
    margin: .15em;
}